QPushButton{  
    color:black;  
    border-radius:5px;  
    background-color: #cfb62d;  
} 
QLabel{  
    color:blue;  
}  
QTableView{
    selection-background-color: #d4bd3e;
}
QLineEdit{  
    text-align: center;  
    color:red;  
    background-color: transparent;  
    border: 1px solid white;  
    selection-color:yellow;  
    selection-background-color:green;  
} 